<!-- Modal: Crear / Editar producto -->
<app-modal [showModal]="showModalProducto">
  <div>
    <div class="flex items-center justify-between bg-gray-800 rounded-t p-2">
      <h1 class=" text-white px-2 py-1 rounded-t text-lg"> {{ estadoFormulario == 'crear' ? 'Creando producto' :
        'Editando producto' }} </h1>
      <svg (click)="showModalProducto = false" width="20" height="20" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="cursor-pointer feather feather-x text-white mr-2">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </div>
    <div class="px-4 pt-2 max-h-96 overflow-y-auto text-sm">
      <div class="flex items-center">
        <div class="w-1/2">
          <p class="font-semibold"> <span class="text-red-500"> * </span> Descripción </p>
          <input (keyup.enter)="submit()" [(ngModel)]="productoForm.descripcion" class="input-generico w-full mt-2"
            placeholder="Ej. Coca cola" type="text">
        </div>
        <div class="w-1/2 ml-2">
          <p class="font-semibold"> <span class="text-red-500"> * </span> Balanza </p>
          <select [(ngModel)]="productoForm.balanza" class="input-generico w-full mt-2">
            <option value="false"> No </option>
            <option value="true"> Si </option>
          </select>
        </div>
      </div>
      <div class="flex items-center mt-2">
        <div class="w-1/2">
          <p class="font-semibold"> <span class="text-red-500"> * </span> Unidad de medida </p>
          <select [(ngModel)]="productoForm.unidadMedidaId" class="input-generico w-full mt-2">
            <option value=""> Seleccionar unidad </option>
            <option *ngFor="let unidad of unidadesMedida" [value]="unidad.id"> {{ unidad.descripcion }} </option>
          </select>
        </div>
        <div class="w-1/2 ml-2">
          <p class="font-semibold"> Código </p>
          <div class="flex items-center">
            <input (keyup.enter)="submit()" [(ngModel)]="productoForm.codigo" class="input-generico w-full mt-2"
              placeholder="Ej. 110002220" type="text">
            <button (click)="generarCodigo()" title="Generar código" class="ml-2 p-2 hover:text-secondaryColor border border-gray-400 mt-2 bg-gray-100 rounded">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 4.875c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5A1.125 1.125 0 0 1 3.75 9.375v-4.5ZM3.75 14.625c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5a1.125 1.125 0 0 1-1.125-1.125v-4.5ZM13.5 4.875c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5A1.125 1.125 0 0 1 13.5 9.375v-4.5Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 6.75h.75v.75h-.75v-.75ZM6.75 16.5h.75v.75h-.75v-.75ZM16.5 6.75h.75v.75h-.75v-.75ZM13.5 13.5h.75v.75h-.75v-.75ZM13.5 19.5h.75v.75h-.75v-.75ZM19.5 13.5h.75v.75h-.75v-.75ZM19.5 19.5h.75v.75h-.75v-.75ZM16.5 16.5h.75v.75h-.75v-.75Z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="border border-gray-400 mt-3">
        <p class="bg-gray-50 p-2 text-sm font-semibold border-b border-gray-400"> Datos de precio </p>
        <div class="px-2 mt-2 flex items-center">
          <div class="w-1/2">
            <p class="font-semibold"> Precio compra </p>
            <input (keyup.enter)="submit()" (keyup)="calcularPrecioVenta()" type="number" min="0" step="0.01"
              [(ngModel)]="productoForm.precioCompra" class="input-generico w-full mt-2" placeholder="Ej. 2500">
          </div>
          <div class="w-1/2 ml-2">
            <p class="font-semibold"> % Ganancia </p>
            <input [disabled]="!productoForm.precioCompra || productoForm.precioCompra < 0" (keyup.enter)="submit()"
              (keyup)="calcularPrecioVenta()" type="number" min="0" step="0.01"
              [(ngModel)]="productoForm.porcentajeGanancia" class="input-generico w-full mt-2" placeholder="Ej. 5">
          </div>
        </div>
        <div class="p-2 flex items-center">
          <div class="w-1/2">
            <p class="font-semibold"> <span class="text-red-500"> * </span> Precio venta </p>
            <input (keyup.enter)="submit()"
              [disabled]="productoForm.precioCompra > 0 && productoForm.porcentajeGanancia > 0" type="number" min="0"
              step="0.01" [(ngModel)]="productoForm.precioVenta" class="input-generico w-full mt-2"
              placeholder="Ej. 3000">
          </div>
          <div class="w-1/2 ml-2">
            <p class="font-semibold"> <span class="text-red-500"> * </span> Alicuota </p>
            <select [(ngModel)]="productoForm.alicuota" class="input-generico w-full mt-2">
              <option value="21">21</option>
              <option value="10.5">10.5</option>
            </select>
          </div>
        </div>
      </div>
      <div class="border border-gray-400 mt-3">
        <p class="bg-gray-50 p-2 text-sm font-semibold border-b border-gray-400"> Datos de stock </p>
        <div class="p-2 flex items-center">
          <div class="w-1/3">
            <p class="font-semibold"> <span class="text-red-500"> * </span> Cantidad </p>
            <input (keyup.enter)="submit()" type="number" min="0" step="0.01" [(ngModel)]="productoForm.cantidad"
              class="input-generico w-full mt-2" placeholder="Ej. 2500">
          </div>
          <div class="w-1/3 ml-2">
            <p class="font-semibold"> Alerta </p>
            <select (change)="cambioAlerta()" [(ngModel)]="productoForm.alertaStock" class="input-generico w-full mt-2">
              <option value="false"> Sin alerta </option>
              <option value="true"> Con alerta </option>
            </select>
          </div>
          <div class="w-1/3 ml-2">
            <p class="font-semibold"> <span *ngIf="productoForm.alertaStock === 'true'" class="text-red-500"> * </span>
              Cantidad minima </p>
            <input (keyup.enter)="submit()" [(ngModel)]="this.productoForm.cantidadMinima"
              [disabled]="productoForm.alertaStock === 'false'" type="number" min="0" step="0.01"
              class="input-generico w-full mt-2" placeholder="Ej. 10">
          </div>
        </div>
      </div>
      <div *ngIf="productoSeleccionado && estadoFormulario === 'editar'" class="xl:flex items-center mt-4">
        <div class="xl:w-1/2">
          <p class="font-semibold text-sm"> Fecha de alta </p>
          <div class="border text-sm mt-2 border-gray-400 rounded p-2 bg-gray-100">
            {{ productoSeleccionado.createdAt | fecha }}
          </div>
        </div>
        <div class="xl:ml-4 xl:w-1/2 mt-4 xl:mt-0">
          <p class="font-semibold text-sm"> Usuario creador </p>
          <div class="border text-sm capitalize mt-2 border-gray-400 rounded p-2 bg-gray-100">
            {{ productoSeleccionado.creatorUser.apellido.toLowerCase() }} {{
            productoSeleccionado.creatorUser.nombre.toLowerCase() }}
          </div>
        </div>
      </div>
    </div>
    <div class="px-2 mt-1 pb-2">
      <button *ngIf="estadoFormulario == 'crear'" (click)="nuevoProducto()" class="boton-crear w-full mt-4"> Crear
        producto
      </button>
      <button *ngIf="estadoFormulario == 'editar'" (click)="actualizarProducto()" class="boton-editar w-full mt-4">
        Actualizar producto </button>
    </div>
  </div>
</app-modal>

<!-- Listado de productos -->
<div class="w-full mx-auto">
  <app-tarjeta-lista>
    <div class="container mx-auto">
      <div>
        <div class="flex items-center justify-between bg-gray-800 px-4 py-3 rounded-t">
          <div class="ml-2 text-white">
            <h2 class="text-xl md:text-2xl leading-tight">
              Productos
            </h2>
            <p> Total de productos: {{ productos.length }} </p>
          </div>
          <div>
            <button title="Nuevo producto" (click)="abrirModal('crear')" class="boton-nuevo-header">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
              </svg>
            </button>
          </div>
        </div>
        <div class="md:flex md:items-center md:justify-between px-4 py-2">
          <div class="my-2 flex sm:flex-row flex-col">
            <div class="flex flex-row mb-1 sm:mb-0">
              <div class="relative w-full md:w-auto">
                <select #txtActivo (change)="filtrarActivos(txtActivo.value)"
                  class="h-full text-sm rounded-r border-t border-l rounded-l sm:rounded-r-none sm:border-r-0 border-r border-b block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:border-l focus:border-r focus:bg-white focus:border-gray-500">
                  <option value='true'> Activos </option>
                  <option value='false'> Inactivos </option>
                  <option value=''> Todos </option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                  <svg class="fill-current h-4 w-4" viewBox="0 0 20 20">
                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                  </svg>
                </div>
              </div>
            </div>
            <div class="block relative">
              <span class="h-full absolute inset-y-0 left-0 flex items-center pl-2">
                <svg viewBox="0 0 24 24"
                  class="h-4 w-4 fill-current text-gray-500 cursor-pointer hover:text-secondary-500">
                  <path
                    d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z">
                  </path>
                </svg>
              </span>
              <input #txtParametro placeholder="Buscar" (keyup)="filtrarParametro(txtParametro.value)"
                class="appearance-none rounded-r rounded-l sm:rounded-l-none border border-gray-400 border-b block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none" />
            </div>
            <select (change)="paginaActual = 1"
              class="bg-white text-sm focus:outline-none w-full md:w-max px-2 py-2 md:py-0 md:ml-2 mt-2 md:mt-0 border text-gray-600 border-gray-400 rounded"
              [(ngModel)]="cantidadItems">
              <option value="10"> 10 elementos </option>
              <option value="20"> 20 elementos </option>
              <option value="50"> 50 elementos </option>
              <option value="100"> 100 elementos </option>
            </select>
            <button (click)="filtrarAlertaStock()" title="Filtrar por alerta de stock" [ngClass]="{'bg-purple-100 border-purple-400':showAlertaStock, 'bg-white':!showAlertaStock}" class="bg-white text-sm focus:outline-none w-max px-2 py-2 md:py-0 md:ml-2 mt-2 md:mt-0 border text-gray-600 border-gray-400 rounded">
              @if(alertaStock){
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><style>@keyframes n-info-2{0%,to{transform:rotate(0deg);transform-origin:top center}10%,90%{transform:rotate(2deg)}20%,40%,60%{transform:rotate(-6deg)}30%,50%,70%{transform:rotate(6deg)}80%{transform:rotate(-2deg)}}</style><path stroke="#0A0A30" stroke-width="1.5" d="M12 3.398a5 5 0 00-5 5v2c0 .758-.442 1.505-1.005 2.012A3 3 0 008 17.642h8a3 3 0 002.005-5.232C17.442 11.903 17 11.156 17 10.398v-2a5 5 0 00-5-5z"/><g style="animation:n-info-2 1.5s cubic-bezier(.455,.03,.515,.955) both infinite"><path stroke="#0A0A30" stroke-linecap="round" stroke-width="1.5" d="M14.39 20.312l-.043.01a9.715 9.715 0 01-4.67-.01"/><path stroke="#4F46E5" stroke-linecap="round" stroke-width="1.5" d="M12 7.923v3.206"/><circle cx="12" cy="13.245" r=".832" fill="#4F46E5"/></g></svg>
              }@else{
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><style>@keyframes n-snooze{0%{transform:scale(.2);opacity:.8}80%{transform:scale(1.2);opacity:1}to{transform:scale(1.2);opacity:0}}</style><path stroke="#0A0A30" stroke-width="1.5" d="M12 3.398a5 5 0 00-5 5v2c0 .758-.442 1.505-1.005 2.012A3 3 0 008 17.642h8a3 3 0 002.005-5.232C17.442 11.903 17 11.156 17 10.398v-2a5 5 0 00-5-5z"/><path stroke="#0A0A30" stroke-linecap="round" stroke-width="1.5" d="M14.39 20.312l-.043.01a9.714 9.714 0 01-4.67-.01"/><path fill="#4F46E5" d="M14.48 13.918H9.676l2.648-3.642H9.677v-.911h4.802l-2.639 3.641h2.64v.912z" style="animation:n-snooze 1.5s cubic-bezier(.165,.84,.44,1) infinite both;transform-origin:center center"/></svg>
              }
            </button>
          </div>
        </div>
        <div class="px-4 py-2 overflow-x-auto">
          <div class="inline-block max-h-96 overflow-y-auto min-w-full pb-5">
            <table class="min-w-full leading-normal">
              <thead>
                <tr class="border">
                  <th
                    class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                    <div (click)="ordenarPorColumna('codigo')"
                      class="cursor-pointer flex items-center focus:outline-none">
                      <span> Código </span>
                      <span class="ml-2 text-gray-600">
                        <svg *ngIf="ordenar.columna == 'codigo' && ordenar.direccion == 'asc'" width="15" height="15"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-chevron-down">
                          <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna == 'codigo' && ordenar.direccion == 'desc'" width="15" height="15"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-chevron-up">
                          <polyline points="18 15 12 9 6 15"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna != 'codigo'" width="15" height="15" viewBox="0 0 24 24" fill="none"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          class="feather feather-minus">
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                      </span>
                    </div>
                  </th>
                  <th
                    class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                    <div (click)="ordenarPorColumna('balanza')"
                      class="cursor-pointer flex items-center focus:outline-none">
                      <span> Tipo </span>
                      <span class="ml-2 text-gray-600">
                        <svg *ngIf="ordenar.columna == 'balanza' && ordenar.direccion == 'asc'" width="15" height="15"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-chevron-down">
                          <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna == 'balanza' && ordenar.direccion == 'desc'" width="15" height="15"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-chevron-up">
                          <polyline points="18 15 12 9 6 15"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna != 'balanza'" width="15" height="15" viewBox="0 0 24 24" fill="none"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          class="feather feather-minus">
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                      </span>
                    </div>
                  </th>
                  <th
                    class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                    <div (click)="ordenarPorColumna('descripcion')"
                      class="cursor-pointer flex items-center focus:outline-none">
                      <span> Descripción </span>
                      <span class="ml-2 text-gray-600">
                        <svg *ngIf="ordenar.columna == 'descripcion' && ordenar.direccion == 'asc'" width="15"
                          height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
                          <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna == 'descripcion' && ordenar.direccion == 'desc'" width="15"
                          height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up">
                          <polyline points="18 15 12 9 6 15"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna != 'descripcion'" width="15" height="15" viewBox="0 0 24 24"
                          fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-minus">
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                      </span>
                    </div>
                  </th>
                  <th
                    class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                    <div (click)="ordenarPorColumna('unidadMedida')"
                      class="cursor-pointer flex w-max items-center focus:outline-none">
                      <span> Unidad de medida </span>
                      <span class="ml-2 text-gray-600">
                        <svg *ngIf="ordenar.columna == 'unidadMedida' && ordenar.direccion == 'asc'"
                          width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
                          <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna == 'unidadMedida' && ordenar.direccion == 'desc'"
                          width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up">
                          <polyline points="18 15 12 9 6 15"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna != 'unidadMedida'" width="15" height="15"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-minus">
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                      </span>
                    </div>
                  </th>
                  <th
                    class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                    <div (click)="ordenarPorColumna('precioVenta')"
                      class="cursor-pointer flex w-max items-center focus:outline-none">
                      <span> Precio venta </span>
                      <span class="ml-2 text-gray-600">
                        <svg *ngIf="ordenar.columna == 'precioVenta' && ordenar.direccion == 'asc'" width="15"
                          height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
                          <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna == 'precioVenta' && ordenar.direccion == 'desc'" width="15"
                          height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up">
                          <polyline points="18 15 12 9 6 15"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna != 'precioVenta'" width="15" height="15" viewBox="0 0 24 24"
                          fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-minus">
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                      </span>
                    </div>
                  </th>
                  <th
                    class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                    <div (click)="ordenarPorColumna('cantidad')"
                      class="cursor-pointer flex items-center focus:outline-none">
                      <span> Cantidad </span>
                      <span class="ml-2 text-gray-600">
                        <svg *ngIf="ordenar.columna == 'cantidad' && ordenar.direccion == 'asc'" width="15" height="15"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-chevron-down">
                          <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna == 'cantidad' && ordenar.direccion == 'desc'" width="15" height="15"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-chevron-up">
                          <polyline points="18 15 12 9 6 15"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna != 'cantidad'" width="15" height="15" viewBox="0 0 24 24"
                          fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-minus">
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                      </span>
                    </div>
                  </th>
                  <th
                    class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                    <div (click)="ordenarPorColumna('alertaStock')"
                      class="cursor-pointer w-max flex items-center focus:outline-none">
                      <span> Alerta stock </span>
                      <span class="ml-2 text-gray-600">
                        <svg *ngIf="ordenar.columna == 'alertaStock' && ordenar.direccion == 'asc'" width="15" height="15"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-chevron-down">
                          <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna == 'alertaStock' && ordenar.direccion == 'desc'" width="15" height="15"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-chevron-up">
                          <polyline points="18 15 12 9 6 15"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna != 'alertaStock'" width="15" height="15" viewBox="0 0 24 24"
                          fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-minus">
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                      </span>
                    </div>
                  </th>
                  <th
                    class="px-5 border-b-2 border-gray-200 bg-gray-100 text-center text-sm font-semibold text-gray-900 tracking-wider">
                    <div (click)="ordenarPorColumna('activo')"
                      class="cursor-pointer flex items-center focus:outline-none">
                      <span>
                        Estado
                      </span>
                      <span class="ml-2">
                        <svg *ngIf="ordenar.columna == 'activo' && ordenar.direccion == 'asc'" width="15" height="15"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-chevron-down">
                          <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna == 'activo' && ordenar.direccion == 'desc'" width="15" height="15"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-chevron-up">
                          <polyline points="18 15 12 9 6 15"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna != 'activo'" width="15" height="15" viewBox="0 0 24 24" fill="none"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          class="feather feather-minus">
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                      </span>
                    </div>
                  </th>
                  <th
                    class="px-5 border-b-2 border-gray-200 bg-gray-100 text-center text-sm font-semibold text-gray-900 tracking-wider">
                    Acción
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="productos">
                @for(producto of productos | filtroProductos:filtro.parametro:filtro.activo | paginate: {itemsPerPage:
                cantidadItems, currentPage: paginaActual}; track producto.id){
                <tr [ngClass]="{'bg-red-50': ((producto.cantidadMinima && producto.cantidad <= producto.cantidadMinima) && producto.alertaStock)}" class="animate__animated animate__fadeIn">
                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                    <p [ngClass]="{'text-gray-400 italic':!producto.codigo, 'text-gray-900':!producto.codigo}" class="w-max whitespace-no-wrap">
                      {{ producto.codigo ? producto.codigo : 'Sin código' }}
                    </p>
                  </td>
                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                    <p class="text-gray-900 w-max whitespace-no-wrap">
                      {{ producto.balanza ? 'Balanza' : 'Normal' }}
                    </p>
                  </td>
                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ producto.descripcion }}
                    </p>
                  </td>
                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                    <p class="text-gray-900 w-max whitespace-no-wrap">
                      {{ producto.unidadMedida.descripcion }}
                    </p>
                  </td>
                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                    <p class="text-gray-900 w-max whitespace-no-wrap">
                      ${{ producto.precioVenta | moneda }}
                    </p>
                  </td>
                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                    <p [ngClass]="{'text-red-500 font-semibold':producto.cantidad < 0, 'text-black':producto.cantidad >= 0}" class="w-max whitespace-no-wrap">
                      {{ producto.cantidad }}
                    </p>
                  </td>
                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                    <p class="text-gray-900 w-max whitespace-no-wrap">
                      {{ producto.alertaStock ? 'SI' : 'NO' }}
                    </p>
                  </td>
                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                    <app-pastilla-estado [activo]=producto.activo
                      (click)="actualizarEstado(producto)"></app-pastilla-estado>
                  </td>
                  <td class="px-5 py-2 border-b border-gray-200 text-xs text-center">
                    <span class="flex items-center justify-center text-gray-900 whitespace-no-wrap">
                      <button (click)="abrirModal('editar', producto)" title="Editar producto"
                        class="boton-editar ml-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                          stroke="currentColor" class="w-5 h-5">
                          <path stroke-linecap="round" stroke-linejoin="round"
                            d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                        </svg>
                      </button>
                    </span>
                  </td>
                </tr>
                }@empty {
                <tr class="p-4 text-white"> a </tr>
                <tr class="w-full">
                  <td colspan="9" class="text-gray-500 text-sm p-2 border border-gray-300 text-center bg-gray-50 mt-4">
                    No se encontraron productos </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div *ngIf="productos.length > cantidadItems"
        class="px-5 text-sm py-5 mt-4 bg-white border-t flex shadow flex-col xs:flex-row items-center xs:justify-between">
        <pagination-controls nextLabel="Siguiente" previousLabel="Anterior"
          (pageChange)="paginaActual = $event"></pagination-controls>
      </div>
    </div>
  </app-tarjeta-lista>
</div>
