<!-- Modal: Agregar/Editar producto -->
<app-modal [showModal]="showModalProductos">
  <div class="flex items-center justify-between bg-gray-800 rounded-t p-2">
    <h1 class=" text-white px-2 py-1 rounded-t text-lg"> {{ estadoForm === 'crear' ? 'Agregando producto' : 'Editando
      producto' }} </h1>
    <div>
      <button *ngIf="estadoForm === 'editar' && ingreso.estado === 'Pendiente'" title="Eliminar producto" (click)="eliminarProducto()"
        class="bg-red-700 hover:opacity-90 mr-2 text-white p-2 rounded border border-red-800">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
        </svg>
      </button>
      <button title="Cerrar ventana" (click)="showModalProductos = false"
        class="bg-gray-50 text-gray-900 p-2 rounded border border-gray-400 hover:text-secondaryColor">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  </div>

  <!-- Listado de productos -->
  @if(!productoSeleccionado){
  <div class="p-2 text-sm">

    <input type="text" [(ngModel)]="filtros.productos"
      class="border border-gray-400 w-full p-2 rounded mb-2 outline-none" placeholder="Buscar producto">

    <div class="max-h-96 overflow-y-auto">
      @for(producto of productos | filtroProductos:filtros.productos:"true"; track producto.id){
      <div (click)="seleccionarProducto(producto)"
        class="border border-gray-400 p-2 mb-2 cursor-pointer hover:border-secondaryColor hover:bg-purple-50">
        <p class="font-semibold"> {{ producto.descripcion }} </p>
        <p class="text-xs text-gray-500"> {{ producto.unidadMedida.descripcion }} </p>
        <p class="text-xs text-gray-500 mt-1"> Precio: ${{ producto.precioVenta | moneda }} </p>
      </div>
      }
      @empty {
      <p class="p-2 text-gray-500 italic border border-gray-400 bg-gray-100"> No se encontraron productos </p>
      }
    </div>

  </div>
  }@else {
  <div class="p-2 text-sm">
    <div class="border border-gray-400">
      <div *ngIf="estadoForm === 'crear'" class="flex items-center bg-gray-100 p-2 border-b border-gray-400">
        <button (click)="deseleccionarProducto()" title="Regresar"
          class="hover:text-secondaryColor p-2 border border-gray-400 shadow rounded">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
          </svg>
        </button>
        <p class="font-semibold ml-2"> PRODUCTO SELECCIONADO </p>
      </div>

      <div class="max-h-96 overflow-y-auto">
        <div class="mt-2 p-2">
          <p class="font-semibold"> {{ productoSeleccionado?.descripcion }} </p>
          <p class="text-gray-500 text-xs mt-1"> {{ productoSeleccionado?.unidadMedida.descripcion }} </p>
        </div>
        <div class="px-2 pb-2">
          <div class="mt-1">
            <p class="font-semibold"> Actualizacion de precio </p>
            <select [disabled]="ingreso.estado === 'Completado'" [(ngModel)]="productoForm.actualizarPrecio" class="input-generico w-full mt-2">
              <option value="false"> Mantener precio actual </option>
              <option value="true"> Actualizar precio </option>
            </select>
          </div>

          @if(productoForm.actualizarPrecio === 'true'){
          <div class="flex items-center mt-2">
            <div class="w-1/2">
              <p class="font-semibold"> Precio de compra </p>
              <input [disabled]="ingreso.estado === 'Completado'" (keyup.enter)="submitForm()" (keyup)="calcularPrecioVenta()"
                [(ngModel)]="productoForm.precioCompra" type="number" class="input-generico mt-2 w-full"
                placeholder="Ej. 2000">
            </div>
            <div class="w-1/2 ml-2">
              <p class="font-semibold"> Porcentaje de ganancia (%) </p>
              <input [disabled]="ingreso.estado === 'Completado'" (keyup.enter)="submitForm()" (keyup)="calcularPrecioVenta()"
                [(ngModel)]="productoForm.porcentajeGanancia" type="number" class="input-generico mt-2 w-full"
                placeholder="Ej. 10">
            </div>
          </div>
          <div class="mt-3">
            <p class="font-semibold"> <span class="text-red-500"> * </span> Precio de venta </p>
            <input (keyup.enter)="submitForm()"
              [disabled]="productoForm.precioCompra > 0 && productoForm.porcentajeGanancia > 0 || ingreso.estado === 'Completado'"
              [(ngModel)]="productoForm.precioVenta" type="number" class="input-generico mt-2 w-full"
              placeholder="Ej. 3000">
          </div>
          }

          @if(productoForm.actualizarPrecio === 'false'){
          <div class="mt-3">
            <p class="font-semibold"> Precio compra </p>
            <input [disabled]="ingreso.estado === 'Completado'" (keyup.enter)="submitForm()" (keyup)="calcularPrecioVenta()" [(ngModel)]="productoForm.precioCompra"
              type="number" class="input-generico mt-2 w-full" placeholder="Ej. 2000">
          </div>
          }

          <div class="mt-3">
            <p class="font-semibold"> <span class="text-red-500"> * </span> Cantidad </p>
            <input [disabled]="ingreso.estado === 'Completado'" (keyup.enter)="submitForm()" type="number" [(ngModel)]="productoForm.cantidad"
              class="input-generico mt-2 w-full" placeholder="Ej. 10">
          </div>
        </div>
      </div>

      <div *ngIf="ingreso.estado === 'Pendiente'" class="px-2 mt-2 pb-2">
        @if(estadoForm === 'crear'){
        <button (click)="agregarProducto()" class="boton-crear w-full">
          Agregar producto
        </button>
        }@else{
        <button (click)="actualizarProducto()" class="boton-editar w-full">
          Actualizar producto
        </button>
        }
      </div>
    </div>
  </div>
  }

</app-modal>

<!-- Editar: Datos de ingreso -->
<app-modal [showModal]="showModalIngreso">
  <div class="flex items-center justify-between bg-gray-800 rounded-t p-2">
    <h1 class=" text-white px-2 py-1 rounded-t text-lg"> Actualizando datos </h1>
    <svg (click)="showModalIngreso = false" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
      class="cursor-pointer feather feather-x text-white mr-2">
      <line x1="18" y1="6" x2="6" y2="18"></line>
      <line x1="6" y1="6" x2="18" y2="18"></line>
    </svg>
  </div>
  <div class="p-2 text-sm">
    <div class="w-full">
      <div class="flex flex-wrap -mx-3 mb-4 mt-2">
        <div class="w-full px-3">
          <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2"> <span class="text-red-500"> * </span>
            Fecha de ingreso </label>
          <input (keyup.enter)="actualizarIngreso()" [(ngModel)]="ingresoForm.fechaIngreso" type="date"
            class="input-generico w-full" />
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-4">
        <div class="w-full px-3">
          <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2"> Nro de factura </label>
          <input (keyup.enter)="actualizarIngreso()" [(ngModel)]="ingresoForm.nroFactura" class="input-generico w-full"
            type="text" placeholder="Ej. Nro no obligatorio" />
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-4">
        <div class="w-full px-3">
          <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2"> Comentarios </label>
          <input (keyup.enter)="actualizarIngreso()" [(ngModel)]="ingresoForm.comentario" class="input-generico w-full"
            type="text" placeholder="Comentario no obligatorio" />
        </div>
      </div>
      <div class="flex flex-wrap -mx-3">
        <div class="w-full px-3 flex justify-end">
          <button (click)="actualizarIngreso()" type="button" class="boton-editar w-full"> Actualizar </button>
        </div>
      </div>
    </div>
  </div>
</app-modal>

<div>
  <div class="w-11/12 md:w-1/2 mx-auto mt-4">
    <div class="bg-gray-800 flex items-center justify-between text-white w-full p-2 rounded-t">
      <div class="flex items-center">
        <button routerLink="/dashboard/ingresos" title="Regresar" class="hover:text-secondaryColor">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
          </svg>
        </button>
        <div class="ml-2">
          <h1 class="text-xl"> Detalles de ingreso </h1>
          <p *ngIf="ingreso.estado === 'Pendiente'" class="w-max p-1 mt-1 rounded bg-yellow-100 text-black text-xs border-yellow-300"> Pendiente </p>
          <p *ngIf="ingreso.estado === 'Completado'"  class="w-max p-1 mt-1 rounded bg-green-100 text-black text-xs border-green-300"> Completado </p>
        </div>
      </div>
      <button *ngIf="ingreso.estado === 'Pendiente'" (click)="completarIngreso()" title="Completar ingreso"
        class="p-2 bg-gray-100 mr-1 text-black hover:text-secondaryColor border-gray-300 rounded">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
        </svg>
      </button>
    </div>
    <div class="text-sm p-2 border border-gray-400 border-t-0">
      <div>
        <div class="bg-gray-100 p-2 flex items-center justify-between w-full border border-gray-400 mt-2">
          <h2> Datos generales </h2>
          <button *ngIf="ingreso.estado === 'Pendiente'" (click)="abrirModalIngreso()" title="Editar datos" class="boton-editar">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
            </svg>
          </button>
        </div>
        <div class="mt-2 p-2 border border-gray-400 w-full flex items-center justify-between">
          <p class="mt-1"> <span class="font-semibold"> Nro de ingreso: </span> {{ ingreso?.id }} </p>
          <p class="mt-1"> <span class="font-semibold"> Fecha: </span> {{ ingreso?.fechaIngreso &&
            (ingreso?.fechaIngreso | fecha) }} </p>
        </div>
        <p class="p-2 border border-t-0 border-gray-400"> <span class="font-semibold"> Nro de factura: </span> {{
          ingreso?.nroFactura ? ingreso?.nroFactura : 'Sin factura' }} </p>
        <p class="p-2 border border-t-0 border-gray-400"> <span class="font-semibold"> Comentarios: </span> {{
          ingreso?.comentario ? ingreso?.comentario : 'Sin comentarios' }} </p>
      </div>
      <div>
        <div class="bg-gray-100 p-2 flex items-center justify-between w-full border border-gray-400 mt-2">
          <div>
            <h2> Listado de productos </h2>
            <p class="mt-1 text-xs font-semibold"> Cantidad de producto: {{ productosCarrito.length }} </p>
          </div>
          <button *ngIf="ingreso.estado === 'Pendiente'" (click)="abrirModalProductos('crear')" title="Agregar producto" class="boton-crear">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
          </button>
        </div>

        <input [(ngModel)]="filtros.productosCarrito" type="text" class="input-generico w-full mt-3"
          placeholder="Buscar producto">

        <div class="max-h-96 overflow-y-auto mt-1">
          @for(relacion of productosCarrito | filtroIngresosProductos:filtros.productosCarrito:''; track
          relacion.productoId){

          <div (click)="abrirModalProductos('editar', relacion)"
            class="border flex items-center justify-between border-gray-400 mt-2 p-2 hover:border-secondaryColor hover:bg-purple-50 cursor-pointer">
            <div>
              <p class="font-semibold"> {{ relacion.producto.descripcion }} </p>
              <p class="text-gray-600 text-xs mt-1 italic"> {{ relacion.producto.unidadMedida.descripcion }} </p>
              @if(relacion.actualizarPrecio){
              <div class="flex items-center mt-1">
                <p class="text-xs mt-1 w-max bg-orange-100 p-1 border border-orange-400"> ${{
                  relacion.precioVentaAnterior
                  | moneda }} </p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-5 h-5">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                </svg>
                <p class="text-xs mt-1 ml-1 w-max bg-green-100 p-1 border border-green-400"> ${{
                  relacion.precioVentaNuevo
                  | moneda }} </p>
              </div>
              }@else{
              <p class="text-gray-600 text-xs mt-1 italic"> ${{ relacion.precioVentaAnterior | moneda }} </p>
              }
            </div>
            <p class="mt-1 w-max p-2 text-xs bg-gray-100 border border-gray-400 rounded"> <span class="font-semibold">
                Cantidad: </span> {{ relacion.cantidad }} </p>
          </div>
          }
          @empty {
          <p class="p-2 text-gray-500 mt-2 italic border bg-gray-50 border-gray-400"> No se encontraron productos </p>
          }
        </div>

      </div>
    </div>
  </div>
</div>