<!-- Modal: Crear proveedor -->
<app-modal [showModal]="showModalProveedor">
  <div (keyup.enter)="nuevoProveedor()">
    <div class="flex items-center justify-between bg-gray-800 rounded-t p-2">
      <h1 class=" text-white px-2 py-1 rounded-t text-lg"> Creando proveedor </h1>
      <svg (click)="cerrarNuevoProveedor()" width="20" height="20" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="cursor-pointer feather feather-x text-white mr-2">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </div>
    <div class="px-4 pt-2 max-h-96 overflow-y-auto text-sm">
      <div>
        <p class="font-semibold"> <span class="text-red-500"> * </span> Nombre o Razon social </p>
        <input [(ngModel)]="proveedorForm.descripcion" class="input-generico w-full mt-2"
          placeholder="Ej. Moreno Lucas Omar" type="text">
      </div>
      <div class="w-full md:flex md:items-center mt-3 pb-2">
        <div class="md:w-1/2">
          <p class="font-semibold"> <span class="text-red-500"> * </span> Tipo de identificación </p>
          <select [(ngModel)]="proveedorForm.tipo_identificacion" class="input-generico w-full mt-2">
            <option value="DNI"> DNI </option>
            <option value="CUIL"> CUIL </option>
            <option value="CUIT"> CUIT </option>
          </select>
        </div>
        <div class="md:w-1/2 md:ml-2 mt-3 md:mt-0">
          <p class="font-semibold"> <span class="text-red-500"> * </span> Identificación </p>
          <input [(ngModel)]="proveedorForm.identificacion" class="input-generico w-full mt-2"
            placeholder="Ej. 34060398" type="text">
        </div>
      </div>
      <div class="md:w-full md:flex md:items-center mt-1 pb-2">
        <div class="md:w-1/2">
          <p class="font-semibold"> Teléfono </p>
          <input [(ngModel)]="proveedorForm.telefono" class="input-generico w-full mt-2" placeholder="Ej. 2664869642"
            type="text">
        </div>
        <div class="md:w-1/2 md:ml-2 mt-3 md:mt-0">
          <p class="font-semibold"> Domicilio </p>
          <input [(ngModel)]="proveedorForm.domicilio" class="input-generico w-full mt-2"
            placeholder="Ej. Portugal 1030" type="text">
        </div>
      </div>
    </div>
    <div class="px-2 pb-2">
      <button (click)="nuevoProveedor()" class="boton-crear w-full mt-4"> Crear
        proveedor
      </button>
    </div>
  </div>
</app-modal>

<!-- Modal: Crear / Editar ingreso -->
<app-modal [showModal]="showModalIngreso">
  <div (keyup.enter)="estadoFormulario === 'crear' ? nuevoIngreso() : actualizarIngreso()">
    <div class="flex items-center justify-between bg-gray-800 rounded-t p-2">
      <h1 class=" text-white px-2 py-1 rounded-t text-lg"> {{ estadoFormulario == 'crear' ? 'Creando ingreso' :
        'Editando ingreso' }} </h1>
      <svg (click)="showModalIngreso = false" width="20" height="20" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="cursor-pointer feather feather-x text-white mr-2">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </div>
    <div class="px-4 pt-2 max-h-96 overflow-y-auto text-sm">
      <div>
        <p class="font-semibold"> <span class="text-red-500"> * </span> Fecha de ingreso </p>
        <input [(ngModel)]="ingresoForm.fechaIngreso" class="input-generico w-full mt-2" placeholder="Ej. Pepsi"
          type="date">
      </div>
      <div class="mt-3">
        <p class="font-semibold"> <span class="text-red-500"> * </span> Proveedor </p>

        @if(!proveedorSeleccionado){
        <div class="flex items-center">
          <input [(ngModel)]="filtroProveedor.parametro" (focus)="showBuscadorProveedores = true" type="text"
            class="input-generico w-full mt-2" placeholder="Buscar proveedor">
          <button (click)="abrirNuevoProveedor()" title="Nuevo proveedor"
            class="p-2 rounded bg-gray-100 border border-gray-400 hover:text-secondaryColor ml-2 mt-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
          </button>
        </div>
        }@else{
        <div class="p-2 border border-gray-400 mt-2 flex items-center">
          <img src="assets/svg/proveedor.svg" alt="proveedor.svg" class="w-14">
          <div class="ml-2">
            <p class="font-semibold"> {{ proveedorSeleccionado.descripcion }} </p>
            <p class="text-gray-500 text-xs"> {{ proveedorSeleccionado.tipo_identificacion }} {{
              proveedorSeleccionado.identificacion }} </p>
            <button (click)="cancelarProveedor()"
              class="bg-red-100 text-xs text-red-500 border border-red-300 p-1 mt-1 font-semibold rounded">
              Cancelar proveedor
            </button>
          </div>
        </div>
        }

        <div *ngIf="showBuscadorProveedores"
          class="bg-white w-96 border h-max overflow-y-auto border-gray-400 fixed z-10 mt-2">
          <div class="bg-gray-100 p-2 border-b border-gray-400 flex items-center justify-between">
            <h1 class="font-semibold"> Listado de proveedores </h1>
            <button (click)="showBuscadorProveedores = false">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
          <div class="max-h-96 overflow-y-auto">
            @for(proveedor of proveedores | filtroProveedores:filtroProveedor.parametro:'activo'; track proveedor.id){
            <div (click)="seleccionarProveedor(proveedor)"
              class="flex items-center p-2 border-b border-gray-300 hover:bg-gray-50 cursor-pointer">
              <img src="assets/svg/proveedor.svg" alt="proveedor.svg" class="w-12">
              <div class="ml-2">
                <p class="font-semibold"> {{ proveedor.descripcion }} </p>
                <p class="text-gray-500 text-xs"> {{ proveedor.tipo_identificacion }} {{ proveedor.identificacion }}
                </p>
              </div>
            </div>
            }@empty {
            <div class="p-2 text-gray-500 text-center italic">
              No se encontraron proveedores
            </div>
            }
          </div>
        </div>
      </div>
      <div class="mt-3">
        <p class="font-semibold"> Nro de factura </p>
        <input [(ngModel)]="ingresoForm.nroFactura" class="input-generico w-full my-2"
          placeholder="Campo no obligatorio" type="text">
      </div>
      <div class="mt-1">
        <p class="font-semibold"> Comentarios </p>
        <input [(ngModel)]="ingresoForm.comentario" class="input-generico w-full my-2"
          placeholder="Campo no obligatorio" type="text">
      </div>
      <div *ngIf="ingresoSeleccionado && estadoFormulario === 'editar'" class="xl:flex items-center mb-2 mt-1">
        <div class="xl:w-1/2">
          <p class="font-semibold text-sm"> Fecha de alta </p>
          <div class="border text-sm mt-2 border-gray-400 rounded p-2 bg-gray-100">
            {{ ingresoSeleccionado.createdAt | fecha }}
          </div>
        </div>
        <div class="xl:ml-4 xl:w-1/2 mt-4 xl:mt-0">
          <p class="font-semibold text-sm"> Usuario creador </p>
          <div class="border text-sm capitalize mt-2 border-gray-400 rounded p-2 bg-gray-100">
            {{ ingresoSeleccionado.creatorUser.apellido.toLowerCase() }} {{
            ingresoSeleccionado.creatorUser.nombre.toLowerCase() }}
          </div>
        </div>
      </div>
    </div>
    <div class="px-2 pb-2">
      <button *ngIf="estadoFormulario == 'crear'" (click)="nuevoIngreso()" class="boton-crear w-full mt-2"> Crear
        ingreso
      </button>
      <button *ngIf="estadoFormulario == 'editar'" (click)="actualizarIngreso()" class="boton-editar w-full mt-2">
        Actualizar ingreso </button>
    </div>
  </div>
</app-modal>

<!-- Listado de marcas -->
<div class="max-full mx-auto">
  <app-tarjeta-lista>
    <div class="container mx-auto">
      <div>
        <div class="flex items-center justify-between bg-gray-800 px-4 py-3 rounded-t">
          <div class="ml-2 text-white">
            <h2 class="text-xl md:text-2xl leading-tight">
              Ingresos
            </h2>
            <p> Total de ingresos: {{ totalItems }} </p>
          </div>
          <div>
            <button title="Nueva marca" (click)="abrirModal('crear')" class="boton-nuevo-header">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
              </svg>
            </button>
          </div>
        </div>
        <div class="md:flex md:items-center md:justify-between px-4 py-2">
          <div class="my-2 flex sm:flex-row flex-col">
            <div class="flex flex-row mb-1 sm:mb-0">
              <div class="relative w-full md:w-auto">
                <select [(ngModel)]="filtro.estado" (change)="cambiarPagina(1)"
                  class="h-full text-sm rounded-r border-t border-l rounded-l sm:rounded-r-none sm:border-r-0 border-r border-b block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:border-l focus:border-r focus:bg-white focus:border-gray-500">
                  <option value='Pendiente'> Pendientes </option>
                  <option value='Completado'> Completados </option>
                  <option value=''> Todos </option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                  <svg class="fill-current h-4 w-4" viewBox="0 0 20 20">
                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                  </svg>
                </div>
              </div>
            </div>
            <div class="block relative">
              <span class="h-full absolute inset-y-0 left-0 flex items-center pl-2">
                <svg *ngIf="!flagBuscandoIngresos" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-gray-500 mb-1">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                </svg>
                <svg *ngIf="flagBuscandoIngresos" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-secondaryColor animate-spin">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                </svg>
              </span>
              <input #searchInput [(ngModel)]="filtro.parametro" placeholder="Buscar"
                class="appearance-none rounded-r rounded-l sm:rounded-l-none border border-gray-400 border-b block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none" />
            </div>
            <select [(ngModel)]="cantidadItems" (change)="cambiarPagina(1)"
              class="bg-white text-sm focus:outline-none w-full md:w-max px-2 py-2 md:py-0 md:ml-2 mt-2 md:mt-0 border text-gray-600 border-gray-400 rounded">
              <option value="10"> 10 elementos </option>
              <option value="20"> 20 elementos </option>
              <option value="50"> 50 elementos </option>
              <option value="100"> 100 elementos </option>
            </select>
            <input onkeydown="return false" (change)="cambiarPagina(1)" [(ngModel)]="filtro.fechaDesde" type="date"
              class="bg-white text-sm focus:outline-none w-full md:w-max px-2 py-2 md:py-0 md:ml-2 mt-2 md:mt-0 border text-gray-600 border-gray-400 rounded">
            <input onkeydown="return false" (change)="cambiarPagina(1)" [(ngModel)]="filtro.fechaHasta" type="date"
              class="bg-white text-sm focus:outline-none w-full md:w-max px-2 py-2 md:py-0 md:ml-2 mt-2 md:mt-0 border text-gray-600 border-gray-400 rounded">
          </div>
        </div>
        <div class="px-4 py-2 overflow-x-auto">
          <div class="inline-block max-h-96 overflow-y-auto min-w-full pb-5">
            <table class="min-w-full leading-normal">
              <thead>
                <tr class="border">
                  <th
                    class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                    <div (click)="ordenarPorColumna('id')"
                      class="cursor-pointer w-max flex items-center focus:outline-none">
                      <span> Nro ingreso </span>
                      <span class="ml-2 text-gray-600">
                        <svg *ngIf="ordenar.columna == 'id' && ordenar.direccion == 'asc'" width="15" height="15"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-chevron-down">
                          <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna == 'id' && ordenar.direccion == 'desc'" width="15" height="15"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-chevron-up">
                          <polyline points="18 15 12 9 6 15"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna != 'id'" width="15" height="15" viewBox="0 0 24 24" fill="none"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          class="feather feather-minus">
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                      </span>
                    </div>
                  </th>
                  <th
                    class="px-5 border-b-2 border-gray-200 bg-gray-100 text-sm font-semibold text-gray-900 tracking-wider">
                    <div (click)="ordenarPorColumna('fechaIngreso')"
                      class="cursor-pointer w-max flex items-center justify-center focus:outline-none">
                      <span>
                        Fecha de ingreso
                      </span>
                      <span class="ml-2">
                        <svg *ngIf="ordenar.columna == 'fechaIngreso' && ordenar.direccion == 'asc'" width="15"
                          height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
                          <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna == 'fechaIngreso' && ordenar.direccion == 'desc'" width="15"
                          height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up">
                          <polyline points="18 15 12 9 6 15"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna != 'fechaIngreso'" width="15" height="15" viewBox="0 0 24 24"
                          fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-minus">
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                      </span>
                    </div>
                  </th>
                  <th
                    class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                    <div (click)="ordenarPorColumna('nroFactura')"
                      class="cursor-pointer flex items-center w-max focus:outline-none">
                      <span> Nro de factura </span>
                      <span class="ml-2 text-gray-600">
                        <svg *ngIf="ordenar.columna == 'nroFactura' && ordenar.direccion == 'asc'" width="15"
                          height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
                          <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna == 'nroFactura' && ordenar.direccion == 'desc'" width="15"
                          height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up">
                          <polyline points="18 15 12 9 6 15"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna != 'nroFactura'" width="15" height="15" viewBox="0 0 24 24"
                          fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-minus">
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                      </span>
                    </div>
                  </th>
                  <th
                    class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                    <div (click)="ordenarPorColumna('proveedor.descripcion')"
                      class="cursor-pointer flex items-center w-max focus:outline-none">
                      <span> Proveedor </span>
                      <span class="ml-2 text-gray-600">
                        <svg *ngIf="ordenar.columna == 'proveedor.descripcion' && ordenar.direccion == 'asc'" width="15"
                          height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
                          <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna == 'proveedor.descripcion' && ordenar.direccion == 'desc'" width="15"
                          height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up">
                          <polyline points="18 15 12 9 6 15"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna != 'proveedor.descripcion'" width="15" height="15" viewBox="0 0 24 24"
                          fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-minus">
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                      </span>
                    </div>
                  </th>
                  <th
                    class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                    <div (click)="ordenarPorColumna('comentario')"
                      class="cursor-pointer flex items-center focus:outline-none">
                      <span> Comentarios </span>
                      <span class="ml-2 text-gray-600">
                        <svg *ngIf="ordenar.columna == 'comentario' && ordenar.direccion == 'asc'" width="15"
                          height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
                          <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna == 'comentario' && ordenar.direccion == 'desc'" width="15"
                          height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up">
                          <polyline points="18 15 12 9 6 15"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna != 'comentario'" width="15" height="15" viewBox="0 0 24 24"
                          fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-minus">
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                      </span>
                    </div>
                  </th>
                  <th
                    class="px-5 border-b-2 border-gray-200 bg-gray-100 text-center text-sm font-semibold text-gray-900 tracking-wider">
                    <div (click)="ordenarPorColumna('estado')"
                      class="cursor-pointer flex items-center focus:outline-none">
                      <span>
                        Estado
                      </span>
                      <span class="ml-2">
                        <svg *ngIf="ordenar.columna == 'estado' && ordenar.direccion == 'asc'" width="15" height="15"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-chevron-down">
                          <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna == 'estado' && ordenar.direccion == 'desc'" width="15" height="15"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-chevron-up">
                          <polyline points="18 15 12 9 6 15"></polyline>
                        </svg>
                        <svg *ngIf="ordenar.columna != 'estado'" width="15" height="15" viewBox="0 0 24 24" fill="none"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          class="feather feather-minus">
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                      </span>
                    </div>
                  </th>
                  <th
                    class="px-5 border-b-2 border-gray-200 bg-gray-100 text-center text-sm font-semibold text-gray-900 tracking-wider">
                    Acción
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="ingresos">
                @for(ingreso of ingresos | paginate: {itemsPerPage: cantidadItems, currentPage: paginaActual,
                totalItems:totalItems}; track ingreso.id){
                <tr class="animate__animated animate__fadeIn">
                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                    <p class="text-gray-900 w-max whitespace-no-wrap">
                      {{ ingreso.id }}
                    </p>
                  </td>
                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ ingreso.fechaIngreso | fecha }}
                    </p>
                  </td>
                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                    <p [ngClass]="{'italic text-gray-500':ingreso.nroFactura === ''}"
                      class="text-gray-900 w-max whitespace-no-wrap">
                      {{ ingreso.nroFactura ? ingreso.nroFactura : 'Sin factura' }}
                    </p>
                  </td>
                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                    <p class="text-gray-900 whitespace-no-wrap">
                      {{ ingreso.proveedor.descripcion }}
                    </p>
                  </td>
                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                    <p [ngClass]="{'italic text-gray-500':ingreso.comentario === ''}"
                      class="text-gray-900 w-max whitespace-no-wrap">
                      {{ ingreso.comentario ? ingreso.comentario : 'Sin comentarios'}}
                    </p>
                  </td>
                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                    <p *ngIf="ingreso.estado === 'Pendiente'"
                      class="text-gray-900 bg-yellow-100 border border-yellow-300 p-2 rounded w-max"> {{ ingreso.estado
                      }} </p>
                    <p *ngIf="ingreso.estado === 'Completado'"
                      class="text-gray-900 bg-green-100 border border-green-300 p-2 rounded w-max"> {{ ingreso.estado }}
                    </p>
                  </td>
                  <td class="px-5 py-2 border-b border-gray-200 text-xs text-center">
                    <span class="flex items-center justify-center text-gray-900 whitespace-no-wrap">
                      <button *ngIf="ingreso.estado === 'Pendiente'" (click)="abrirModal('editar', ingreso)"
                        title="Editar" class="boton-editar ml-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                          stroke="currentColor" class="w-5 h-5">
                          <path stroke-linecap="round" stroke-linejoin="round"
                            d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                        </svg>
                      </button>
                      <button [routerLink]="['/dashboard/ingresos/detalles', ingreso.id]" title="Detalles"
                        class="bg-purple-500 p-2 hover:opacity-90 text-white rounded shadow ml-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                          stroke="currentColor" class="w-5 h-5">
                          <path stroke-linecap="round" stroke-linejoin="round"
                            d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                          <path stroke-linecap="round" stroke-linejoin="round"
                            d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                        </svg>
                      </button>
                    </span>
                  </td>
                </tr>
                }@empty {
                <tr class="p-4 text-white"> a </tr>
                <tr class="w-full">
                  <td colspan="7" class="text-gray-500 text-sm p-2 border border-gray-300 text-center bg-gray-50 mt-4">
                    No se encontraron ingresos </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div
        class="px-5 py-5 mt-4 text-sm bg-white border-t flex shadow flex-col xs:flex-row items-center xs:justify-between">
        <pagination-controls nextLabel="Siguiente" previousLabel="Anterior"
          (pageChange)="cambiarPagina($event)"></pagination-controls>
      </div>
    </div>
  </app-tarjeta-lista>
</div>
